.profile-header {
    transform: translateY(7rem);
}

.profile-header {
    z-index: 100;
}

.img-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-cover {
    background-image: url('../assets/images/profile_banner.jpg');
    background-position: top;
    background-size: cover;
}

.bio {
    margin-top: 50px;
    margin-bottom: 150px;
}